{{#partial "styles"}}
    <link rel='stylesheet' href='/css/hero-detail.css'>
{{/partial}}
{{#partial "content"}}

<div class="card">
    <p class="card-text">{{name}}</p>
    <div class="display">
        <div><a href="/heroes/{{hero.id}}/update" class="btn btn-half">Edit this hero</a></div>
        <div><a href="/squad" class="btn btn-half">Click To add to squad</a></div>
        <div><a href="/heroes/{{hero.id}}/delete" class="btn btn-half">DELETE this hero (no undo)</a></div>

    </div>
</div>



{{/partial}}

{{> layout.hbs}}