<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Hero Squad{{/block}}</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="#">Hero Squad</a>
    <div class=" collapse navbar-collapse" id="navbarTogglerDemo03 ">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav  mt-2 mt-lg-0  navbar-right ">

            <li class="nav-item">
                <a class="nav-link" href="/heroes">Heroes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/squads" >Squads</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <!--begin main template-->

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>

    </html>
{{/block}}